/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {

}

#left {
	display: inline-block;
	 padding: 20px;
    margin-bottom: 20px;
	float: left;
	margin-bottom: 20px;
	background-color: #666;
	width: 33%;
	
}

#middle {
	display: inline-block;
	 padding: 20px;
  margin-bottom: 20px;
	float: left;
	margin-bottom: 20px;
	background-color: #888;
	width: 33%;
}

#right {
	display: inline-block;
	 padding: 20px;
   margin-bottom: 20px;
	float: left;
	margin-bottom: 20px;
	background-color: #666;
	width: 33%;
}

#full {
	 display: block;
     margin-bottom: 200px; 
}



#division {
}

aside {
	display: inline-block;
	height: 200px;
	padding: 20px;
	float: left;


}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
	
}

div {
	background-color: #6ea3da;
	display: block;

}
